/* Add padding to containers - Thiết lập padding cho container */
.modal-container {
    padding: 16px; /* Tạo khoảng cách bên trong container là 16px */
    background-color: white; /* Đặt nền của container là màu trắng */
}

/* Kiểm soát trạng thái của các trường select không hợp lệ */
#addAndUpdateAcccountModal select:invalid {
    color: gray; /* select:invalid: Áp dụng kiểu màu xám cho các trường select khi chúng không hợp lệ */
}

/* Điều chỉnh thanh điều hướng trong addAccountsToDepartmentModal */
#addAccountsToDepartmentModal .page-nav {
    float: unset; /* Hủy bỏ ảnh hưởng của thuộc tính float trước đó */
    margin-left: 302px; /* Tạo khoảng cách từ cạnh trái là 302px */
}


/* Custom Add and Update Account Modal - Tuỳ chỉnh giao diện Add and Update Account Modal */

/* Kích thước và căn chỉnh các trường nhập liệu:
width: Định nghĩa độ rộng cụ thể cho các trường nhập liệu
margin-right: Thêm khoảng cách giữa các trường */

#addAndUpdateAcccountModal .modal-body {
    padding: 15px 45px;
}

#addAndUpdateAcccountModal #modal-username {
    width: 416px;
    /* margin-left: 15px; */
}

#addAndUpdateAcccountModal #modal-first-name {
    width: 140px;
    margin-right: 18px;
    /* margin: 0 15px; */
}

#addAndUpdateAcccountModal #modal-last-name {
    width: 168px;
    /* margin-left: 15px; */
}

#addAndUpdateAcccountModal #role-label {
    padding-left: 41px;
}

/* Giao diện của nhãn và menu thả */
#addAndUpdateAcccountModal #modal-role-select {
    margin-left: 15px; /* width và margin-left: Đảm bảo căn chỉnh hợp lý */
    display: inline-block; /* Để các phần tử nằm ngang và giữ kích thước của chúng */
    width: 413px;
}

#addAndUpdateAcccountModal #department-lable {
    margin-left: -9px;
    margin-top: 28px;
}

#addAndUpdateAcccountModal #modal-department-select {
    margin-left: 15px;
    display: inline-block;
    width: 414px;
}

#addAndUpdateAcccountModal #input-item-departmentName {
    margin-top: -20px;
}

#addAndUpdateAcccountModal #input-item-role {
    margin-top: 27px;
}


/* Custom Add and Update Department Modal - Tùy chỉnh modal Add and Update Department */

#addAndUpdateDepartmentModal .modal-body {
    padding: 15px 45px; /* Thêm khoảng cách bên trong giữa các thành phần của modal */
}

#addAndUpdateAcccountModal .input-item {
    margin-bottom: 22px;
}

#addAndUpdateDepartmentModal #modal-department-name {
    width: 446px;
}

#addAndUpdateDepartmentModal #modal-type-select {
    margin-left: 15px;
    display: inline-block;
    width: 446px;
}

#addAndUpdateDepartmentModal .input-item {
    margin-bottom: 22px;
}

#input-item-type .select2-selection.select2-selection--single,
#input-item-role .select2-selection.select2-selection--single,
#input-item-departmentName .select2-selection.select2-selection--single {
    height: 34px;
}

#input-item-type .select2-selection__placeholder,
#input-item-role .select2-selection__placeholder,
#input-item-departmentName .select2-selection__placeholder {
    line-height: 34px;
    margin-left: 7px;
}

#input-item-type .select2-selection__arrow,
#input-item-role .select2-selection__arrow,
#input-item-departmentName .select2-selection__arrow {
    margin-top: 3px;
}

#addAndUpdateDepartmentModal #type-label {
    margin-left: 8px;
}


/* Full-width input fields - Kiểu dáng chung cho các trường nhập liệu */

/* Kích thước trường nhập liệu */
input[type="text"],
input[type="password"] {
    width: 100%; /* Kéo dãn trường nhập liệu chiếm toàn bộ chiều rộng container */
    padding: 15px;
    margin: 5px 0 0px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1; /* Đặt nền mặc định màu xám nhạt */
}

/* Trạng thái khi người dùng nhập */
input[type="text"]:focus,
input[type="password"]:focus { /* :focus: Đổi màu nền trường nhập liệu khi được chọn */
    background-color: #ddd;
    outline: none;
}

/* Hiển thị lỗi */
.modal .input-errMess {
    color: red; /* Hiển thị thông báo lỗi với màu đỏ */
    display: none; /* Ẩn thông báo lỗi mặc định */
    margin-top: 5px;
    margin-left: 94px;
    margin-right: 20px;
    font-style: italic;
    font-size: 15px;
}

#addAdnUpdateDepartmentModalBody .input-errMess {
    margin-left: 64px;
}

/* Chi tiết modal */
#detailModal #detail-name {
    text-align: center; /* Canh giữa tên */
    font-weight: bolder; /* Làm nổi bật chữ */
    font-size: 30px;
}

#detailModal #detail-name i {
    font-size: 23px;
}

#detailModal #detail-creator,
#detailModal #detail-createDate,
#detailModal #detail-member {
    padding: 5px 10px;
    font-size: 16px;
}

#deleteModal #delete-confirm-mess {
    font-size: 15px;
}

/* Nút xoá trong Delete Modal
Màu sắc: Nút xoá có màu nền đỏ và chữ trắng */
#deleteModal #delete-btn {
    color: red;
}


/* Custom button Css */

.modal-footer button {
    margin: 0px 10px;
}

.modal select:invalid {
    color: gray;
}

.modal .delete-btn {
    background-color: rgba(255, 0, 0, 0.831);
    color: white;
}